AddHandler application/x-httpd-ea-php74 .php .html .htm
ErrorDocument 404 /404.html

RewriteEngine on
redirect 301 /map.html https://maps.emac.de/
redirect 301 /forum.html https://forum.emacberry.com/viewforum.php?f=206

redirect 301 /gpsl/faq.html /gpsl/docs/9999-faq/
redirect 301 /gpsl/emergency.html /gpsl/docs/3100-emergency/#incaseofanemergency
redirect 301 /gpsl/nav/nav001.html /gpsl/docs/2500-offroadnav/#-intro
redirect 301 /gpsl/nav/nav002.html /gpsl/docs/2500-offroadnav/#-best-practise

RewriteCond %{SERVER_PORT} !^443$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$

RewriteCond %{REQUEST_URI} !/appsrv/map/getprovider_droid2020.php [NC]
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
