<div class="hide-on-mobiles unit one-fifth">
  <aside>
    {% for section in site.data.docs_nav -%}
      <h4>{{ section.title }}</h4>
      <ul>
      {%- for item in section.docs -%}
        {%- assign p = site.docs | where: "url", item.link | first %}
        <li {%- if page.url == p.url %} class="current" {%- endif -%}><a href="{{ p.url | relative_url }}">{{- p.menu-title | default: p.title -}}</a></li>
      {%- endfor %}
      {%- if section.title contains 'Appendix' %}
        <li {%- if page.url == '/gpsl/docs/9998-print/index.html' %} class="current" {%- endif -%}><a href="/gpsl/docs/9998-print/index.html"><i class="fa-solid fa-print fa-fw"></i>&nbsp;Print Version
        </a></li>
      {%- endif %}
      </ul>
    {% endfor -%}
  </aside>
</div>
