<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <!--
    <link id="theme1" rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link id="theme2" rel="stylesheet alternate" href="{{ "/assets/css/style2.css" | relative_url }}">
    -->
    <script>
        let themeToUse = sessionStorage.getItem('theme');
        if(!themeToUse){
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                themeToUse = 'dark';
            }else{
                themeToUse = 'light';
            }
        }
        let themeLight = document.createElement("link");
        themeLight.setAttribute("id", "theme1");
        if (themeToUse === 'dark') {
            themeLight.setAttribute("rel", "stylesheet alternate");
        }else{
            themeLight.setAttribute("rel", "stylesheet");
        }
        themeLight.setAttribute("href", "{{ "/assets/css/style.css" | relative_url }}");
        document.head.appendChild(themeLight);

        let themeDark = document.createElement("link");
        themeDark.setAttribute("id", "theme2");
        if (themeToUse === 'dark') {
            themeDark.setAttribute("rel", "stylesheet");
        }else{
            themeDark.setAttribute("rel", "stylesheet alternate");
        }
        themeDark.setAttribute("href", "{{ "/assets/css/style2.css" | relative_url }}");
        document.head.appendChild(themeDark);

        //let themeLight = document.getElementById('theme1');
        //let themeDark = document.getElementById('theme2');
        //setTheme(themeToUse);

        function setTheme(theme){
            if(theme === 'dark'){
                themeDark.setAttribute('rel', 'stylesheet');
                themeLight.setAttribute('rel', 'stylesheet alternate');
                sessionStorage.setItem('theme', 'dark');
            }else {
                themeLight.setAttribute('rel', 'stylesheet');
                themeDark.setAttribute('rel', 'stylesheet alternate');
                sessionStorage.setItem('theme', 'light');
            }
            return false;
        }

        function toggleTheme(){
            let oldTheme = sessionStorage.getItem('theme');
            let newTheme;
            if(oldTheme === 'dark'){
                newTheme = 'light';
            } else {
                newTheme = 'dark';
            }
            setTheme(newTheme);
            setThemeIcon(newTheme);
            return false;
        }

        function setThemeIcon(theme){
            let toggleButton = document.getElementById('mToggle');
            if(toggleButton){
                if(theme === "dark") {
                    toggleButton.classList.replace("fa-moon", "fa-sun");
                }else{
                    toggleButton.classList.replace("fa-sun", "fa-moon");
                }
            }else{
                setTimeout(() => setThemeIcon(theme), 0);
            }
            return false;
        }
        window.onload = setThemeIcon(sessionStorage.getItem('theme'));
    </script>
    {%- feed_meta -%}
    {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
    {%- endif -%}
    {%- include custom-head.html -%}
</head>