@import "gridism";
@import "fa/fontawesome";
@import "fa/solid";
@import "fa/brands";

.right { float: right; }
.left { float: left; }

h1, h2 {
  clear: both;
}

.shot {
  float: left;
  width: 33.33333%;
  padding-right: $spacing-unit;

  @media screen and (max-width: 568px) {
    width: 100% !important;
    padding-right: unset;
    padding-bottom: $spacing-unit/2;
  }
}

br.shot-end {
  clear: left;
}

span.btn img {
  vertical-align: top;
  height: 1.6em;
  margin-right: -0.1em;
  margin-left: -0.1em;
  /* border: 1px solid red; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

.improve {
    padding-top: 5px;
    font-size: 12px;
}

.show-on-mobiles {
  display: none;
}

@media screen and (max-width: 568px) {
  .show-on-mobiles {
    display: block !important;
  }
  a .show-on-mobiles {
    display: inline !important;
  }
}

.docs-nav-mobile select {
  padding: 5px;
  width: 100%;
  font-size: 0.85em;
  color: #000;
  background: #ddd;
  border-color: transparent;
  border-radius: 5px;

  &:focus {
    outline: none;
  }

  option {
    font-size: 0.9em;
    padding: 3px;
  }
}

aside {
  padding-top: 5px;

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 10px 10px;
    margin-left: -10px;
    display: inline-block;
    border-bottom: 1px solid $border-color-01;
  }

  ul {
    padding-left: 0;

    &:first-child { margin-top: 0; }
  }

  li {
    list-style-type: none;

    a {
      font-size: 16px;
      position: relative
    }

    &.current a:before {
      content: "";
      border-color: transparent transparent transparent $border-color-02;
      border-style: solid;
      border-width: 8px;
      width: 0;
      height: 0;
      position: absolute;
      top: 4px;
      left: -15px;
    }
    &.current a {
        color: $brand-color;
    }
  }
}

.wwide {
  max-width: calc(#{$content-width * 1.6} - (#{$spacing-unit}));

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width * 1.6} - (#{$spacing-unit} * 2));
  }
}

.wfull {
  max-width: 100%;

  @media screen and (min-width: $on-large) {
    max-width: 100%;
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('#{$fa-font-path}/MaterialIcons-Regular.woff2') format('woff2'),
  url('#{$fa-font-path}/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 120%;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}