---
layout: wide
---
<!--section class="docs"-->
<div class="grid">
    {% include docs_contents_mobile.html -%}
    <div class="unit four-fifths">
        <!--article-->
        <div class="improve right hide-on-mobiles">
            <a data-proofer-ignore href="https://github.com/marq24/emacberry.com/blob/master/{{ page.path }}?plain=1"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Improve this page</a>
        </div>
        {%- if page.sub-title -%}
        <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a><br/><span style="font-size: 50%">{{ page.sub-title }}</span></h1>
        {%- else if page.title -%}
        <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        {%- endif -%}
        {{ content | markdownify }}
        <div class="right" style="font-size: 12px;"><i>Version: {{ site.manual-version }}</i></div>
        <!--/article-->
    </div>
    {% include docs_contents.html -%}
    <div class="clear"></div>
</div>
<!--/section-->
